.card {
  background-color: #b26fff;
  border-radius: 15px;

  filter: drop-shadow(0px 0px 2px $primaryColor);
  margin: 20px;
  max-width: 350px;
  &__container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 90vw;
  }
  &__top {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px 15px 0px 0px;
    img {
      width: 200px;
      display: block;
      margin: 0 auto;
    }
  }
  &__info {
    text-align: center;
    padding: 10px;
    button {
      padding: 10px 45px;
      background: #222;
      border: none;
      border-radius: 5px;
      margin: 10px 0px;
      cursor: pointer;
      color: $white;
      transition: 0.6s;
      &:hover {
        background: $white;
        color: $primaryColor;
      }
    }
    h3 {
      font-size: 15px;
    }
    h4 {
      font-size: 19px;
      color: $white;
    }
  }
}
